.flamengo {
  height: 300px;
  width: 250px;
  background-color: red;
  background-image: -webkit-linear-gradient(to bottom, transparent 52%, #555 52%);
  background-image: -moz-linear-gradient(to bottom, transparent 52%, #555 52%);
  background-image: -o-linear-gradient(to bottom, transparent 52%, #555 52%);
  background-image: -ms-linear-gradient(to bottom, transparent 52%, #555 52%);
  background-image: linear-gradient(to bottom, transparent 52%, #3c3c3c 52%);
  -webkit-background-size: 100% 27%;
  -moz-background-size: 100% 27%;
  background-size: 100% 24%;
  border-radius: 0px 0px 100px 100px;
  position: relative;
}

.flamengo::before {
  content: '';
  position: absolute;
  border-top: 30px solid #f00;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  top: 97%;
  left: 38%;
  margin-left: -35px;
}

.flamengo::after {
  content: '';
  display: block;
  background-color: #3c3c3c;
  width: 50%;
  height: 40%;
}