.palmeiras {
  background: #01a351;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 15px solid #fff;
  position: relative;
}

.palmeiras:before {
  content: "";
  height: 140px;
  width: 140px;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  left: 85px;
  top: 30px;
}

.left,
.right {
  position: relative;
}

.circle {
  background: #fff;
  border-radius: 50%;
  position: absolute;
}

.circle-1 {
  height: 10px;
  width: 10px;
  top: 40px;
  left: 75px;
}

.circle-2 {
  height: 20px;
  width: 20px;
  top: 55px;
  left: 55px;
}

.circle-3 {
  height: 30px;
  width: 30px;
  top: 85px;
  left: 35px;
}

.right .circle-1,
.right .circle-2,
.right .circle-3 {
  left: inherit;
}

.right .circle-1 {
  right: 65px;
}

.right .circle-2 {
  right: 45px;
}

.right .circle-3 {
  right: 25px;
}