* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #c1c1c1;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.flamengo {
  height: 300px;
  width: 250px;
  background-color: #c2281d;
  background-image: linear-gradient(to bottom, transparent 52%, #060208 52%);
  background-size: 100% 23%;
  border-radius: 0px 0px 100px 100px;
  position: relative;
}

.flamengo::before {
  content: '';
  position: absolute;
  border-top: 35px solid #c2281d;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  left: 50px;
  bottom: -22px;
}

.flamengo::after {
  content: '';
  display: block;
  background-color: #060208;
  width: 50%;
  height: 40%;
}